html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.herad_Box {
  width: 100%;
  height: 11rem;
  border-bottom: 1rem solid #F5F5F5;
  position: relative;
}

.herad_text {
  text-align: justify;
  /*position: relative;*/
  margin: auto;
  padding-top: 1.5rem;
  top: 1.75rem;
  letter-spacing: 1px;
  color: #333333;
  /*left: 5%;*/
  width: 95%;
  height: auto;
  font-size: 18px;
  font-weight: bold;
}

.herad_release {
  height: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.35rem auto;
}

.herad_user_release {
  font-size: 14px;
  color: #888888;
}

.herad_user_release_ImageAndSpan {
  position: relative;
  width: 70px;
  height: auto;
}

.herad_user_release_ImageAndSpan span {
  position: absolute;
  top: -2px;
  right: 0;
  font-size: 17px;
  font-weight: bold;
  color: #E3464D;
}

.herad_user_release_ImageAndSpan img {
  height: 1.7rem;
  width: 1.6rem;
  position: absolute;
  right: 4.7rem;
}

.content_userId_Box {
  height: auto;
  width: 95%;
  margin: 1.67rem auto 2rem auto;
  border-bottom: 1px solid #EEEEEE;
}

.content_userId_imgAndSpan {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_userId_content_userId_imgAndSpanBox {
  position: relative;
  height: 3rem;
  width: 100%;
}

.content_userId_img {
  position: absolute;
  /*left: 10px;*/
  top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*font-family:fantasy;*/
}

.content_userId_span {
  position: absolute;
  top: 2px;
  left: 3rem;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  line-height: 3rem;
}

.content_userId_input {
  width: 86px;
  border-radius: 5px;
  background: #E3464D;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  /*font-family:fantasy;*/
}

.content_userId_ContentBox {
  padding-top: 20px;
  width: 100%;
  height: auto;
}

.content_userId_ContentBox p {
  text-align: justify;
  font-family: fantasy;
  padding-top: 20px;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-size: 16px;
  color: #333333;
  white-space: pre-wrap;
}

/*这是底部栏CSS*/
.Page_footer_box_userDiv {
  margin-top: 1rem;
  height: 25rem;
  width: 95%;
  margin: auto;
}

.Page_footer_box_userDivTop {
  margin-top: 2rem;
  display: flex;
  position: relative;
}

.title_img {
  margin-top: 1rem;
  width: 32px;
  height: 32px;
  border-radius: 25px;
}

.Page_footer_box_userh1Span {
  margin-left: 10px;
  width: auto;
}

.Page_footer_box_userh1Span h1 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.Page_footer_box_userh1Span span {
  font-size: 12px;
  color: #888888;
}

.Page_footer_boxImgSpan {
  width: 40px;
  height: auto;
  position: absolute;
  right: 0;
  top: 20px;
}

.Page_footer_box_userDiv p {
  font-family: fantasy;
  height: 10rem;
  font-size: 16px;
  color: #333333;
  margin: 10px 0 0 0;
  padding: 0;
  width: 85%;
  padding-left: 40px;
  letter-spacing: 1px;
  line-height: 25px;
}

.report {
  margin-bottom: 25px;
  width: 100%;
  height: 2rem;
  position: relative;
}

.report_div1 {
  font-size: 1.25rem;
  color: #888888;
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.report_div2 {
  height: 2.25rem;
  border-radius: 5px;
  width: 5.95rem;
  /*top: 20px;*/
  position: absolute;
  right: 0rem;
  background: #F1F1F1;
  text-align: center;
  line-height: 25px;
}

.Page_footer_box_spanBtn {
  margin-top: 3.5rem;
  padding-left: 10px;
}

.Page_footer_box_spanBtn span {
  margin-left: 30px;
}

.Page_footer_box_spanBtn button {
  border-radius: 10px;
  background: #F1F1F1;
  width: 70px;
  height: 2rem;
  border: none;
}

.is_footer {
  height: 3rem;
  width: 100%;
  background: #F6F6F6;
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
}

.next_answer {
  height: 3rem;
  width: 8rem;
  background: #C2DAEE;
  border-radius: 2rem;
  font-size: 15px;
  font-weight: bold;
  color: #62829C;
  text-align: center;
  line-height: 3rem;
  position: fixed;
  top: 49rem;
  right: 1rem;
}
